/* .leaflet-container {
    width: 100%;
    height: calc(100vh - 60px);
  } */


.leaflet-container {
    width: 100%;
    height: calc(100vh - 60px);
}

  /* Tablet styles */
  @media screen and (min-width: 576px) {
  
    .leaflet-container {
        width: 100%;
        height: calc(100vh - 60px);
    }
  }
  
  /* Desktop styles */
  @media screen and (min-width: 992px) {
    .leaflet-container {
        width: 100%;
        height: calc(100vh - 60px);
    }
  }