/* Mobile styles */
.container--login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form--login {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
  }
    .login {
        margin-left: -10px;
    }

    .register {
    margin-left: 20px;
    overflow: auto;
    padding-bottom:100px;
    }
  
  .form--login h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form--login fieldset {
    border: none;
    margin-bottom: 15px;
    padding: 0;
  }
  
  .form--login label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form--login input,
  .form--login textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .form--login textarea {
    resize: vertical;
  }
  
  .form--login button[type="submit"] {
    background-color: #5BD6BF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
  }
  
  .link--register {
    margin-top: 20px;
    text-align: center;
  }
  
  .link--register a {
    color: #D65C72;
    text-decoration: none;
  }
  
  /* Tablet styles */
  @media screen and (min-width: 576px) {
  

    .link--register {
        margin-top: 20px;
        text-align: center;
      }
      
      .link--register a {
        color: #D65C72;
        text-decoration: none;
      }
  }
  
  /* Desktop styles */
  @media screen and (min-width: 992px) {
    .container--login {
      flex-direction: row;
      justify-content: space-around;
    }

    .form--login {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        max-width: 400px;
      }
    
    .link--register {
      margin-top: 0;
      text-align: center;
      align-self: flex-end;
      width: 50%;
    }
  }
  
  /* .btn {
    padding-bottom: 20px;
  } */